<%= form_with(url: recebimento_produto_path, method: :post, local: true, id: "form") do |form| %>
 <div style="position: relative; top: 50px;">
   <div class="row form-group">
    <div class="col-sm-6">
      <%= form.label "recebimento" %>
      <%= form.text_field "recebimento", id: "recebimento", class: "form-control"%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-success" onclick="validarDados()">Salvar</button>
      <%# <%= form.submit "Salvar", class: "btn btn-success" %>
    </div>
  </div>
 </div>

<script>
    function validarDados() {
      if (isNaN(document.getElementById('recebimento').value)) {
        alert("Preencha o campo recebimento com um número real")
      } else if (parseFloat(document.getElementById('recebimento').value) < 0) {
        alert("Preencha o campo com um número positivo");
      } else {
        var form = document.getElementById('form');
        form.submit();
      }
    }
</script>
<% end %>
